<div class="bg-light py-3">
	<div class="container">
		<div class="row">
			<div class="col-md-12 mb-0">
				<a href="/">Trang Chu</a> <span class="mx-2 mb-0">/</span>
				<strong class="text-black">Gio Hang</strong>
			</div>
		</div>
	</div>
</div>

<div class="site-section">
	<div class="container">
		<div class="row mb-5">
			<form class="col-md-12" method="post">
				<div class="site-blocks-table">
					<table class="table table-bordered">
						<thead>
						<tr>
							<th class="product-thumbnail">Hinh anh</th>
							<th class="product-name">Ten</th>
							<th class="product-price">Gia</th>
							<th class="product-quantity">Ngay Tiem</th>
							<th class="product-remove">Xoa</th>
						</tr>
						</thead>
						<tbody>
						{{#each CartVaccine}}
							<tr>
								<td class="product-thumbnail">
									<img src="{{this.HinhAnh}}" alt="Image" class="img-fluid">
								</td>
								<td class="product-name">
									<h2 class="h5 text-black">{{this.TenVcine}}</h2>
								</td>
								<td>${{this.Gia}}</td>
								<td>
									<label>
										<input type="date" value="{{this.NgayTiem}}" onclick="changeDate('vaccine','{{this._id}}')" class="date-input" id="date-injections">
									</label>
								</td>
								<td><a href="/cart/delete?id={{this._id}}&type=CartVaccine" class="btn btn-primary
									height-auto btn-sm">X</a></td>
							</tr>
						{{/each}}
						{{#each CartPackage}}
							<tr>
								<td class="product-thumbnail">
									<img src="{{this.HinhAnh}}" alt="Image" class="img-fluid">
								</td>
								<td class="product-name">
									<h2 class="h5 text-black">{{this.TenGoi}}</h2>
								</td>
								<td>${{this.Gia}}</td>
								<td>
									<label>
										<input type="date" value="{{this.NgayTiem}}" onclick="changeDate('package','{{this._id}}')" class="date-input" name="start-date">
									</label>
								</td>
								<td><a href="/cart/delete?id={{this._id}}&type=CartPackage" class="btn btn-primary
									height-auto btn-sm">X</a></td>
							</tr>
						{{/each}}
						</tbody>
					</table>
				</div>
			</form>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="row mb-5">
					<div class="col-md-6 mb-3 mb-md-0">
						<form action="/cart/buy" method="get">
							<button type="submit" class="btn btn-outline-primary btn-md btn-block">Dat mua</button>
						</form>
					</div>
					<div class="col-md-6">
						<form action="/cart/register" method="get">
							<button type="submit" class="btn btn-primary btn-md btn-block">Dang ky tiem
								chung
							</button>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label class="text-black h4" for="coupon">Trung Tam</label>
					</div>
					<div class="col-md-8 mb-3 mb-md-0">
						<select class="form-control" id="center">
							<option>Trung tam Ho Chi Minh</option>
							<option>Trung tam Ha Noi</option>
							<option>Trung tam Gia Lai</option>
						</select>
						<div id="center-list">

						</div>
					</div>
					<div class="col-md-4">
						<button class="btn btn-primary btn-md px-4" onclick="addCenter()">Xac Nhan</button>
					</div>
				</div>
			</div>
			<div class="col-md-6 pl-5">
				<div class="row justify-content-end">
					<div class="col-md-7">
						<div class="row">
							<div class="col-md-12 text-right border-bottom mb-5">
								<h3 class="text-black h4 text-uppercase">Tong Gio Hang</h3>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-md-6">
								<span class="text-black">Tong san pham</span>
							</div>
							<div class="col-md-6 text-right">
								<strong class="text-black" id="quantity">{{quantity}}</strong>
							</div>
						</div>
						<div class="row mb-5">
							<div class="col-md-6">
								<span class="text-black">Tong tien</span>
							</div>
							<div class="col-md-6 text-right">
								<strong class="text-black" id="total">${{total}}</strong>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<button class="btn btn-primary btn-lg btn-block" onclick="window.location='/check-out'">
									Tien hanh kiem tra
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="site-section bg-secondary bg-image" style="background-image: url('/img/bg_2.jpg');">
	<div class="container">
		<div class="row align-items-stretch">
			<div class="col-lg-6 mb-5 mb-lg-0">
				<a href="#" class="banner-1 h-100 d-flex" style="background-image: url('/img/bg_1.jpg');">
					<div class="banner-1-inner align-self-center">
						<p>Dam bao vaccine luon on dinh su dung tot, khong de lai di chung
						</p>
					</div>
				</a>
			</div>
			<div class="col-lg-6 mb-5 mb-lg-0">
				<a href="#" class="banner-1 h-100 d-flex" style="background-image: url('/img/bg_2.jpg');">
					<div class="banner-1-inner ml-auto  align-self-center">
						<h2>Chuyen Gia</h2>
						<p>Cac Vaccine cua chung toi luon dam bao an toan va duoc phe chuan boi cac chuyen gia hang dau
							Viet Nam
						</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<script src="/js/cartAjax.js"></script>