<div class="bg-light py-3">
	<div class="container">
		<div class="row">
			<div class="col-md-12 mb-0"><a href="/">Trang Chu</a> <span class="mx-2 mb-0">/</span> <a
					href="/store">Cua Hang</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">
				{{vaccine.TenVCine}}
			</strong></div>
		</div>
	</div>
</div>


<div class="site-section">
	<div class="container">
		<div class="row">
			<div class="col-md-5 mr-auto">
				<div class="border text-center">
					<img src="{{vaccine.HinhAnh}}" alt="Image" class="img-fluid p-5">
				</div>
			</div>
			<div class="col-md-6">
				<h2 class="text-black">{{vaccine.TenVCine}}</h2>
				<p>{{vaccine.MoTa}}</p>

				<p><strong class="text-primary h4">{{vaccine.Gia}}$</strong></p>
				<div class="mb-5">
					<div class="input-group mb-3" style="max-width: 220px;">
						<div class="input-group-prepend">
							<button class="btn btn-outline-primary js-btn-minus" type="button">&minus;
							</button>
						</div>
						<input type="text" class="form-control text-center" value="1" placeholder="" id="quantity"
							   aria-label="Example text with button addon" aria-describedby="button-addon1">
						<div class="input-group-append">
							<button class="btn btn-outline-primary js-btn-plus" type="button">&plus;
							</button>
						</div>
					</div>

				</div>
				<p>
					<input type="hidden" value="{{vaccine.TenVCine}}" id="vaccine-name">
					<input type="hidden" value="{{vaccine.Gia}}" id="vaccine-price">
					<input type="hidden" value="{{vaccine.MoTa}}" id="vaccine-description">
					<input type="hidden" value="{{vaccine.HinhAnh}}" id="vaccine-image">
					<input type="hidden" value="{{vaccine._id}}" id="vaccine-id">
					<button class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary" onclick="addVaccineToCart()">Them Vao Gio Hang</button>
				</p>

				<div class="mt-5">
					<ul class="nav nav-pills mb-3 custom-pill" id="pills-tab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
							   role="tab"
							   aria-controls="pills-home" aria-selected="true">Thong Tin San Pham</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
							   role="tab"
							   aria-controls="pills-profile" aria-selected="false">Thong So</a>
						</li>

					</ul>
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-home" role="tabpanel"
							 aria-labelledby="pills-home-tab">
							<table class="table custom-table">
								<thead>
								<th>Vat Chat</th>
								<th>Mo Ta</th>
								<th>BaoBi</th>
								</thead>
								<tbody>
								{{#each vaccine.ThongTin}}
									<tr>
										<th scope="row">{{this.VatChat}}</th>
										<td>{{this.MoTa}}</td>
										<td>{{this.BaoBi}}</td>
									</tr>
								{{/each}}
								</tbody>
							</table>
						</div>
						<div class="tab-pane fade" id="pills-profile" role="tabpanel"
							 aria-labelledby="pills-profile-tab">

							<table class="table custom-table">

								<tbody>
								{{#each vaccine.ThongSo}}
									<tr>
										<td>{{this.TenThongSo}}</td>
										<td class="bg-light">{{this.GiaTri}}</td>
									</tr>
								{{/each}}
								</tbody>
							</table>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="site-section bg-secondary bg-image" style="background-image: url('/img/bg_2.jpg');">
	<div class="container">
		<div class="row align-items-stretch">
			<div class="col-lg-6 mb-5 mb-lg-0">
				<a href="#" class="banner-1 h-100 d-flex" style="background-image: url('/img/bg_1.jpg');">
					<div class="banner-1-inner align-self-center">
						<p>Dam bao vaccine luon on dinh su dung tot, khong de lai di chung
						</p>
					</div>
				</a>
			</div>
			<div class="col-lg-6 mb-5 mb-lg-0">
				<a href="#" class="banner-1 h-100 d-flex" style="background-image: url('/img/bg_2.jpg');">
					<div class="banner-1-inner ml-auto  align-self-center">
						<h2>Chuyen Gia</h2>
						<p>Cac Vaccine cua chung toi luon dam bao an toan va duoc phe chuan boi cac chuyen gia hang dau
							Viet Nam
						</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<script src="/js/storeAjax.js"></script>