<div class="bg-light py-3">
	<div class="container">
		<div class="row">
			<div class="col-md-12 mb-0">
				<a href="/">Trang chu</a> <span class="mx-2 mb-0">/</span>
				<strong class="text-black">Thong tin ca nhan</strong>
			</div>
		</div>
	</div>
</div>

<section class="profile" style="color:#000;">
	<div class="container">
		<div class="page-content page-container" id="page-content">
			<div class="padding">
				<div class="row container d-flex justify-content-center">
					<div class="col-xl-12 col-md-12">
						<div class="card user-card-full">
							<div class="row mx-0" style="height: 500px;">
								<div class="col-sm-4 p-0" id="img-container">
									<img src="{{user.Avatar}}" style="width: 400px; height: 400px"
										 class="img-radius mb-4" alt="User-Profile-Image">
									<div class="mx-auto w-75 mb-3">
										<button type="button" class="btn btn-primary px-4 w-100" style="height:50px;"
												data-toggle="modal" data-target="#modalChangeAvatar">
											Doi Anh Dai Dien
										</button>
									</div>
									<form action="/user/profile" method="POST" id="change-avatar-form"
										  enctype="multipart/form-data">
										<div class="modal fade" id="modalChangeAvatar" tabindex="-1"
											 aria-labelledby="modalChangeAvatar" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel"> Doi Anh Dai Dien
														</h5>
													</div>
													<div class="modal-body">
														<b>Anh Dai Dien:</b>
														<input type="file" id="input-product-image"
															   class="form-control p-0 pt-1" name="avatar_url"
															   accept=".jpg,.jpeg,.png">
														<div class="w-100 d-flex flex-row justify-content-end mt-3">
															<button type="reset" id="cancle-btn"
																	class="btn btn-secondary me-2" data-dismiss="modal"
																	aria-label="Close">Huy
															</button>
															<button type="submit" id="submit-img-btn"
																	class="ml-2 btn btn-primary">
																Xac Nhan
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
								<div class="col-sm-8">
									<div class="card-block">
										<h6 class="m-b-20 p-b-5 b-b-default f-w-600 profile-header-section">Thong Tin Ca
											Nhan</h6>
										<div class="row">
											<div class="col-sm-6 HoTen">
												<p class="m-b-10 f-w-600 profile-header-field">Ho Va Ten</p>
												<div class="current-info" style="display: flex; flex-direction: row;">
													<h6 class="text-muted f-w-400" id="HoTen">{{user.HoTen}}</h6>
													<i class="fa-solid fa-pen-to-square"
													   onclick="showForm('HoTen')"></i>
												</div>
												<form method="post" class="edit-form" style="display: none">
													<div class="container edit-form">
														<input class="edit-input" type="text" name="HoTen" placeholder="{{user.HoTen}}">
														<input type="submit" value="Apply" class="sub-btn"
															   onclick="edit('HoTen')">
													</div>
												</form>
											</div>
											<div class="col-sm-6 NgaySinh" id="FNgaySinh">
												<p class="m-b-10 f-w-600 profile-header-field">Ngay Sinh</p>

												<div class="current-info" style="display: flex; flex-direction: row;">
													<h6 class="text-muted f-w-400"> {{user.NgaySinh}}</h6>
													<i class="fa-solid fa-pen-to-square"
													   onclick="showForm('NgaySinh')"></i>
												</div>

												<div class="container edit-form" style="display: none">
													<input class="edit-input" type="date" value="{{user.NgaySinh}}"
														   id="DNgaySinh">
													<input type="submit" value="Apply" class="sub-btn"
														   onclick="editDate()">
												</div>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="col-sm-6 QuocGia">
												<p class="m-b-10 f-w-600 profile-header-field">Quoc Gia</p>
												<div class="current-info" style="display: flex; flex-direction: row;">
													<h6 class="text-muted f-w-400" id="QuocGia">{{user.QuocGia}} </h6>
													<i class="fa-solid fa-pen-to-square"
													   onclick="showForm('QuocGia')"></i>
												</div>
												<form method="post" class="edit-form" style="display: none">
													<div class="container edit-form">
														<input class="edit-input" type="text" name="QuocGia" placeholder="{{user.QuocGia}}">
														<input type="submit" value="Apply" class="sub-btn"
															   onclick="edit('QuocGia')">
													</div>
												</form>
											</div>
											<div class="col-sm-6 SDT">
												<p class="m-b-10 f-w-600 profile-header-field">So Dien Thoai</p>
												<div class="current-info" style="display: flex; flex-direction: row;">
													<h6 class="text-muted f-w-400" id="SDT">{{user.SDT}}</h6>
													<i class="fa-solid fa-pen-to-square"
													   onclick="showForm('SDT')"></i>
												</div>
												<form method="post" class="edit-form" style="display: none">
													<div class="container edit-form">
														<input class="edit-input" type="text" name="SDT"  placeholder="{{user.SDT}}">
														<input type="submit" value="Apply" class="sub-btn"
															   onclick="edit('SDT')">
													</div>
												</form>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="col-sm-6 Email">
												<p class="m-b-10 f-w-600 profile-header-field">Email</p>
												<div class="current-info" style="display: flex; flex-direction: row;">
													<h6 class="text-muted f-w-400" id="Email">{{user.Email}}</h6>
													<i class="fa-solid fa-pen-to-square"
													   onclick="showForm('Email')"></i>
												</div>
												<form method="post" class="edit-form" style="display: none">
													<div class="container edit-form">
														<input class="edit-input" type="text" name="Email" placeholder="{{user.Email}}">
														<input type="submit" value="Apply" class="sub-btn"
															   onclick="edit('Email')">
													</div>
												</form>
											</div>
											<div class="col-sm-6 GioiThieu">
												<p class="m-b-10 f-w-600 profile-header-field">Gioi Thieu</p>
												<div class="current-info" style="display: flex; flex-direction: row;">
													<h6 class="text-muted f-w-400"
														id="GioiThieu">{{user.GioiThieu}}</h6>
													<i class="fa-solid fa-pen-to-square"
													   onclick="showForm('GioiThieu')"></i>
												</div>
												<form method="post" class="edit-form" style="display: none">
													<div class="container edit-form">
														<input class="edit-input" type="text" name="GioiThieu" placeholder="{{user.GioiThieu}}">
														<input type="submit" value="Apply" class="sub-btn"
															   onclick="edit('GioiThieu')">
													</div>
												</form>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="col-sm-6 STK">
												<p class="m-b-10 f-w-600 profile-header-field">STK</p>
												<div class="current-info" style="display: flex; flex-direction: row;">
													<h6 class="text-muted f-w-400" id="STK">{{user.STK}}</h6>
													<i class="fa-solid fa-pen-to-square"
													   onclick="showForm('STK')"></i>
												</div>
												<form method="post" class="edit-form" style="display: none">
													<div class="container edit-form">
														<input class="edit-input" type="text" name="STK" placeholder="{{user.STK}}">
														<input type="submit" value="Apply" class="sub-btn"
															   onclick="edit('STK')">
													</div>
												</form>
											</div>
											<div class="col-sm-6 Paypal">
												<p class="m-b-10 f-w-600 profile-header-field">Paypal</p>
												<div class="current-info" style="display: flex; flex-direction: row;">
													<h6 class="text-muted f-w-400" id="Paypal">{{user.Paypal}}</h6>
													<i class="fa-solid fa-pen-to-square"
													   onclick="showForm('Paypal')"></i>
												</div>
												<form method="post" class="edit-form" style="display: none">
													<div class="container edit-form">
														<input class="edit-input" type="text" name="Paypal" placeholder="{{user.Paypal}}">
														<input type="submit" value="Apply" class="sub-btn"
															   onclick="edit('Paypal')">
													</div>
												</form>
											</div>
										</div>
										<br>
										<div class="row mt-2">
											<div class="col-sm-6 DiaChi">
												<p class="m-b-10 f-w-600 profile-header-field">Dia Chi</p>
												<div class="current-info" style="display: flex; flex-direction: row;">
													<h6 class="text-muted f-w-400" id="DiaChi"> {{user.DiaChi}}</h6>
													<i class="fa-solid fa-pen-to-square"
													   onclick="showForm('DiaChi')"></i>
												</div>
												<form method="post" class="edit-form" style="display: none">
													<div class="container edit-form">
														<input class="edit-input" type="text" name="DiaChi" placeholder="{{user.DiaChi}}">
														<input type="submit" value="Apply" class="sub-btn"
															   onclick="edit('DiaChi')">
													</div>
												</form>
											</div>
										</div>


										<ul class="social-link list-unstyled m-t-40 m-b-10">
											<li><a href="#!" data-toggle="tooltip" data-placement="bottom" title=""
												   data-original-title="facebook" data-abc="true"><i
													class="mdi mdi-facebook feather icon-facebook facebook"
													aria-hidden="true"></i></a></li>
											<li><a href="#!" data-toggle="tooltip" data-placement="bottom" title=""
												   data-original-title="twitter" data-abc="true"><i
													class="mdi mdi-twitter feather icon-twitter twitter"
													aria-hidden="true"></i></a></li>
											<li><a href="#!" data-toggle="tooltip" data-placement="bottom" title=""
												   data-original-title="instagram" data-abc="true"><i
													class="mdi mdi-instagram feather icon-instagram instagram"
													aria-hidden="true"></i></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="/js/userAjax.js"></script>